<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<div class="container">
    <div class="modal">
        <form method="post" action="/login" class="form">
            <h1>Форма для входа</h1>
            <input type="text" placeholder="логин" name="username" class="inputText" required>
            <input type="password" placeholder="пароль" name="password" class="inputText" required>
            <input type="submit" value="Войти" class="inputSubmit">
        </form>
    </div>
</div>
</body>
</html>