<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Департаменты</title>
    <link rel="icon" href="/img/department.ico">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<div class="container">
    <div class="modal">
        <form th:if="${department.id == null}" th:object="${department}"
              class="form" method="post"
              action="/admin/department">
            <input type="text" placeholder="Название" class="inputText" th:field="*{name}">
            <input type="text" placeholder="id родительского отдела" name="parentId" class="inputText">
            <input type="text" placeholder="Заметка" class="inputText" th:field="*{note}">
            <input type="submit" value="Добавить" class="inputSubmit">
        </form>

        <form th:unless="${department.id == null}" th:object="${department}"
              class="form" method="post"
              th:action="@{'/admin/department/' + ${department.id}}">
            <input type="text" placeholder="Название" class="inputText" th:field="*{name}">
            <input th:if="${department.parentDept == null}" type="text" placeholder="id родительского отдела"
                   name="parentId" class="inputText">
            <input th:unless="${department.parentDept == null}" type="text" placeholder="id родительского отдела"
                   name="parentId" class="inputText" th:value="${department.parentDept.id}">
            <input type="text" placeholder="Заметка" class="inputText" th:field="*{note}">
            <input type="submit" value="Редактировать" class="inputSubmit">
        </form>

        <th:block th:if="${!departments.isEmpty()}">
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Название</th>
                    <th>^ отдел</th>
                    <th>Заметка</th>
                    <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dept : ${departments}">
                    <td>[[${dept.id}]]</td>
                    <td>[[${dept.name}]]</td>
                    <td th:if="${dept.parentDept == null}"></td>
                    <td th:unless="${dept.parentDept == null}">[[${dept.parentDept.name}]]</td>
                    <td>[[${dept.note}]]</td>
                    <td><a th:href="@{'/admin/department/edit/' + ${dept.id}}" class="a-button"><img src="/img/edit.png" alt="edit"></a></td>
                    <td><a th:href="@{'/admin/department/delete/' + ${dept.id}}" class="a-button"><img src="/img/delete.png" alt="delete"></a></td>
                </tr>
                </tbody>
            </table>
        </th:block>
    </div>
</div>
</body>
</html>